@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;400;500;700&display=swap");

/* Smallest Viewports (Phones) */
@media screen and (max-width: 576px) {
  .m {
    display: none;
  }

  .l {
    display: none;
  }

  .mobile {
    width: 50px;
    height: 75px;
    background-color: white;
  }
  /* HEADER */
  header {
    /* BLUE */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #03123a;
    width: auto;
    padding-bottom: 5%;
  }
  /* MOBILE NAVIGATION */
  #mobile-navigation {
    cursor: pointer;
    width: 100px;
    height: 100px;
  }
  .mobileMenu {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .active {
    display: flex;
  }

  .inactive {
    display: none;
  }
  /* MAIN NAVIGATION */
  #top-navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 5%;
    width: auto;
    height: 400px;
    background-color: #03123a;
  }

  #top-navigation ul {
    /* YELLOW */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: auto;
  }

  #top-navigation li {
    /*RED*/
    list-style-type: none;
    width: 150px;
    align-self: center;
    background-color: #03123a;
  }

  #top-navigation a {
    /*BLUE*/
    color: white;
    width: 150px;
    height: 50px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    background-color: #03123a;
    margin-bottom: 2%;
  }

  #top-navigation a:hover {
    background-color: #ddd;
    color: black;
  }

  #top-navigation a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* BODY */
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 300;
    background-color: #f9dce0;
    justify-content: flex-start;
    color: #03123a;
    margin: 0;
    width: auto;
  }

  /* SECTION */
  section {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    margin: 1%;
    padding: 0.25%;
  }

  /* BODY HEADINGS */

  .headings {
    font-family: "Arima Madurai", cursive;
    font-weight: 500;
    font-style: italic;
    background-color: gray;
    width: auto;
    margin: 1%;
    padding-left: 2%;
  }

  .secondary_headings {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    width: auto;
    margin-top: 1%;
    background-color: #EFEFF5;
  }

  p {
    margin: 1%;
    line-height: 1.8;
    word-break: break-word;
  }

  /* FOOTER */
  footer {
    background-color: #03123a;
    padding-bottom: 2.5%;
    width: auto;
  }

  footer p {
    color: #ffc2f0;
    display: block;
    text-align: center;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    font-family: "Arima Madurai", cursive;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer li {
    display: flex;
    flex-direction: row;
    padding: 1%;
    height: 50%;
    background-color: #03123a;
    width: 50px;
    margin-left: 4%;
    margin-right: 4%;
  }

  footer a {
    color: #03123a;
    text-decoration: none;
    align-self: center;
  }

  footer a:hover {
    background-color: #bc7c9c; /* Opera Mauve */
    letter-spacing: 5px;
  }

  footer a:active {
    background-color: #3b3b58; /* Independence */
  }

  footer #linkedin {
    background-image: url("../images/shared/logo_linkedin_50.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 50px;
    height: 50px;
  }
  
  footer #linkedin:hover {
    background-image: url("../images/shared/logo_linkedin_50_hover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 50px;
    height: 50px;
  }
  footer #linkedin:active {
    background-image: url("../images/shared/logo_linkedin_50_active.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 50px;
    height: 50px;
  }

  footer #facebook {
    background-image: url("../images/shared/logo_facebook_50.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 50px;
    height: 50px;
  }

  footer #facebook:hover {
    background-image: url("../images/shared/logo_facebook_50_hover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 50px;
    height: 50px;
  }

  footer #facebook:active {
    background-image: url("../images/shared/logo_facebook_50_active.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 50px;
    height: 50px;
  }

  footer #instagram {
    background-image: url("../images/shared/logo_instagram_50.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 50px;
    height: 50px;
  }

  footer #instagram:hover {
    background-image: url("../images/shared/logo_instagram_50_hover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 50px;
    height: 50px;
  }

  footer #instagram:active {
    background-image: url("../images/shared/logo_instagram_50_active.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 50px;
    height: 50px;
  }

  footer #email {
    background-image: url("../images/shared/logo_email_50.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 50px;
    height: 50px;
  }

  footer #email:hover {
    background-image: url("../images/shared/logo_email_50_hover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 50px;
    height: 50px;
  }

  footer #email:active {
    background-image: url("../images/shared/logo_email_50_active.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 50px;
    height: 50px;
  }

  /* BUTTONS */
  #top-navigation #home {
    background-image: url("../images/shared/buttons/home-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #home:active {
    background-image: url("../images/shared/buttons/home_hover-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #about_us {
    background-image: url("../images/shared/buttons/about_us-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
  #top-navigation #about_us:active {
    background-image: url("../images/shared/buttons/about_us_hover-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #classes {
    background-image: url("../images/shared/buttons/classes-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
  #top-navigation #classes:active {
    background-image: url("../images/shared/buttons/classes_hover-l.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #kuchipudi {
    background-image: url("../images/shared/buttons/kuchipudi-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #kuchipudi:active {
    background-image: url("../images/shared/buttons/kuchipudi_hover-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #gallery {
    background-image: url("../images/shared/buttons/gallery-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
  #top-navigation #gallery:active {
    background-image: url("../images/shared/buttons/gallery_hover-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #contact_us {
    background-image: url("../images/shared/buttons/contact_us-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #contact_us:active {
    background-image: url("../images/shared/buttons/contact_us_hover-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .a-guru {
    display: inline;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    width: auto;
  }

  .a-guru-text-image {
    display: flow-root;
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
    width: auto;
  }

  .a-guru-text-image p {
    display: inline;
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
    width: auto;
  }

  .a-guru p {
    padding: 1%;
  }

  #a-guru-sharing-2 {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .guru-bottom {
    align-items: center;
  }
  
  #guru-1 {
    width: auto;
    height: 150px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  #guru-2 {
    width: auto;
    height: 150px;
    float: right;
    margin-right: 5px;
    margin-left: 10px;
  }

  #guru-3 {
    width: auto;
    height: 150px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
  }

  #guru-4 {
    width: auto;
    height: 150px;
    float: left;
    margin-left: 5px;
    margin-right: 10px;
  }

  #guru-5 {
    width: auto;
    height: 150px;
    float: right;
    margin-right: 5px;
    margin-left: 10px;
  }

  #guru-6 {
    width: auto;
    height: 150px;
    object-fit: contain;
    float: left;
    margin-left: 5px;
    margin-right: 10px;
  }

  #guru-7 {
    width: auto;
    height: 150px;
    object-fit: contain;
    float: right;
    margin-right: 10px;
  }

  #guru-8 {
    width: auto;
    height: 100px;
    object-fit: contain;
    align-self: center;
  }

  #guru-9 {
    width: auto;
    height: 100px;
    object-fit: contain;
    align-self: center;
  }
}
