@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;400;500;700&display=swap");
@media screen and (min-width: 992px) {
  .s {
    display: none;
  }

  .m {
    display: none;
  }

  .mobile {
    display: none;
  }

  /* HEADER */
  header {
    /* BLUE */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #03123a;
    width: auto;
  }

  /* NAVIGATION */
  #top-navigation {
    /*GREEN*/
    display: flex;
    background-color: #03123a;
    width: auto;
    justify-content: center;
  }

  #top-navigation ul {
    /*YELLOW*/
    display: flex;
    width: auto;
    align-self: center;
    padding: 0.5%;
    list-style-type: none;
  }

  #top-navgiation li {
    /* RED */
    list-style-type: none;
  }

  #top-navigation a {
    /*BLUE*/
    display: flex;
    text-decoration: none;
    width: 200px;
    height: 67px;
  }

  /* BODY */
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 300;
    background-color: #f9dce0;
    justify-content: flex-start;
    color: #03123a;
    margin: 0;
    width: auto;
  }

  /* SECTION */
  section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1%;
    padding: 0.25%;
  }

  section article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* padding: 0.15%;
        margin: 0.5%; */
  }

  /* BODY HEADINGS */

  .headings {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    background-color: gray;
    width: auto;
    margin: 0.5%;
    padding-left: 2%;
  }

  .secondary_headings {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    padding: -2%;
    background-color: gray;
  }
  /* FOOTER */
  footer {
    background-color: #03123a;
    padding-bottom: 2.5%;
    width: auto;
  }

  footer p {
    color: #ffc2f0;
    display: block;
    text-align: center;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    font-family: "Arima Madurai", cursive;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer li {
    display: flex;
    flex-direction: row;
    padding: 1%;
    height: 50%;
    background-color: #03123a;
    width: 100px;
    margin-left: 4%;
    margin-right: 4%;
  }

  footer a {
    color: #03123a;
    text-decoration: none;
    align-self: center;
  }

  footer a:hover {
    background-color: #bc7c9c; /* Opera Mauve */
    letter-spacing: 5px;
  }

  footer a:active {
    background-color: #3b3b58; /* Independence */
  }

  footer #linkedin {
    background-image: url("../images/shared/logo_linkedin_100.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 100px;
    height: 100px;
  }

  footer #facebook {
    background-image: url("../images/shared/logo_facebook_100.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 100px;
    height: 100px;
  }

  footer #instagram {
    background-image: url("../images/shared/logo_instagram_100.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 100px;
    height: 100px;
  }

  footer #email {
    background-image: url("../images/shared/logo_email_100.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 100px;
    height: 100px;
  }
  /* BUTTONS */

  #top-navigation #home {
    background-image: url("../images/shared/buttons/home-l.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #home:hover {
    background-image: url("../images/shared/buttons/home_hover-l.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #home:active {
    background-image: url("../images/shared/buttons/home_hover-l.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #about_us {
    background-image: url("../images/shared/buttons/about_us-l.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
  #top-navigation #about_us:hover {
    background-image: url("../images/shared/buttons/about_us_hover-l.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #about_us:active {
    background-image: url("../images/shared/buttons/about_us_hover-l.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #classes {
    background-image: url("../images/shared/buttons/classes-l.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #classes:hover {
    background-image: url("../images/shared/buttons/classes_hover-l.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #classes:active {
    background-image: url("../images/shared/buttons/classes_hover-l.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #kuchipudi {
    background-image: url("../images/shared/buttons/kuchipudi-l.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #kuchipudi:hover {
    background-image: url("../images/shared/buttons/kuchipudi_hover-l.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #kuchipudi:active {
    background-image: url("../images/shared/buttons/kuchipudi_hover-l.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #gallery {
    background-image: url("../images/shared/buttons/gallery-l.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
  #top-navigation #gallery:hover {
    background-image: url("../images/shared/buttons/gallery_hover-l.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #gallery:active {
    background-image: url("../images/shared/buttons/gallery_hover-l.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #contact_us {
    background-image: url("../images/shared/buttons/contact_us-l.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #contact_us:hover {
    background-image: url("../images/shared/buttons/contact_us_hover-l.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #contact_us:active {
    background-image: url("../images/shared/buttons/contact_us_hover-l.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #section-contact_us {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  #send_button {
    margin-left: 150px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 150px;
    height: 50px;
  }

  #contact_us-left {
    width: 300px;
    height: 600px;
    object-fit: contain;
  }

  #contact_us-right {
    width: 300px;
    height: 600px;
    object-fit: contain;
  }

  .contact_labels {
    font-family: "Arima Madurai", cursive;
    font-weight: bold;
    font-size: 20px;
    width: auto;
  }

  .contact_inputs {
    font-family: "Arima Madurai", cursive;
    font-size: 20px;
    border: solid;
    border-color: rgba(26, 22, 22, 0.8);
    border-width: 1px;
    width: 500px;
  }

  #contact_textarea {
    font-family: "Arima Madurai", cursive;
    font-size: 20px;
    outline: none;
    resize: none;
    border-color: rgba(0, 0, 0, 0.8);
    border-width: 1px;
    height: 250px;
    width: 500px;
  }
}
