@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;400;500;700&display=swap");

/* Smallest Viewports (Phones) */
@media screen and (max-width: 576px) {
  .m {
    display: none;
  }

  .l {
    display: none;
  }

  .mobile {
    width: 50px;
    height: 75px;
    background-color: white;
  }
  /* HEADER */
  header {
    /* BLUE */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #03123a;
    width: auto;
    padding-bottom: 5%;
  }

  /* NAVIGATION */
  #top-navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 5%;
    width: auto;
    height: 400px;
    background-color: #03123a;
  }

  #top-navigation ul {
    /* YELLOW */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: auto;
  }

  #top-navigation li {
    /*RED*/
    list-style-type: none;
    width: 150px;
    align-self: center;
    background-color: #03123a;
  }

  #top-navigation a {
    /*BLUE*/
    color: white;
    width: 150px;
    height: 50px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    background-color: #03123a;
    margin-bottom: 2%;
  }

  #top-navigation a:hover {
    background-color: #ddd;
    color: black;
  }

  #top-navigation a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* BODY */
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    background-color: #f9dce0;
    justify-content: flex-start;
    color: #03123a;
    margin: 0;
    width: auto;
  }

  /* SECTION */
  section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1%;
    padding: 0.25%;
  }

  section article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* padding: 0.15%;
    margin: 0.5%; */
  }

  /* BODY HEADINGS */

  .headings {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    background-color: gray;
    width: auto;
    margin: 0.5%;
    padding-left: 2%;
  }

  .secondary_headings {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    padding: -2%;
    background-color: gray;
  }

  /* FOOTER */
  footer {
    color: #ffc2f0;
    background-color: #03123a;
    padding-bottom: 2.5%;
    width: auto;
  }

  footer p {
    display: block;
    text-align: center;
  }

  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  footer li {
    display: flex;
    flex-direction: row;
    padding: 1%;
    height: 50%;
    background-color: #ffc2f0;
  }

  footer a {
    color: #03123a;
    text-decoration: none;
    align-self: center;
  }

  footer a:hover {
    background-color: #bc7c9c; /* Opera Mauve */
    letter-spacing: 5px;
  }

  footer a:active {
    background-color: #3b3b58; /* Independence */
  }

  /* BUTTONS */
  #top-navigation #home {
    background-image: url("../images/shared/buttons/home-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #home:active {
    background-image: url("../images/shared/buttons/home_hover-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #about_us {
    background-image: url("../images/shared/buttons/about_us-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
  #top-navigation #about_us:active {
    background-image: url("../images/shared/buttons/about_us_hover-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #classes {
    background-image: url("../images/shared/buttons/classes-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
  #top-navigation #classes:active {
    background-image: url("../images/shared/buttons/classes_hover-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #kuchipudi {
    background-image: url("../images/shared/buttons/kuchipudi-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #kuchipudi:active {
    background-image: url("../images/shared/buttons/kuchipudi_hover-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #gallery {
    background-image: url("../images/shared/buttons/gallery-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
  #top-navigation #gallery:active {
    background-image: url("../images/shared/buttons/gallery_hover-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #contact_us {
    background-image: url("../images/shared/buttons/contact_us-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  #top-navigation #contact_us:active {
    background-image: url("../images/shared/buttons/contact_us_hover-m.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  /* HOME */
  /* PAGE-SPECIFIC STYLES */
  .s-our_mission {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .a-our_mission {
    display: flex;
    flex-direction: row;
    padding: 1%;
    width: auto;
  }

  .our_mission-images {
    display: none;
  }
  /* HOME GALLERY */

  .a-home_gallery {
    position: relative;
    align-self: center;
    box-sizing: content-box;
    display: inline-block;
    padding: 0.5%;
    background: #ffc2f0;
    width: auto;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  }

  #slider {
    overflow: hidden;
  }

  #slider figcaption {
    display: block;
    justify-content: center;
  }

  .images-home_gallery {
    width: 10%;
    float: left;
    height: 250px;
    margin: 0.1%;
  }

  #slider figure {
    position: relative;
    width: 400%;
    left: 0;
    font-size: 0;
    animation-name: sliding;
    animation-duration: 45s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
    /* animation: 20s sliding ease infinite; */
  }

  .indicator {
    width: 400%;
    height: 6px;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    bottom: 0;
    /* animation: indicating 5s ease infinite; */
    animation-name: indicating;
    animation-duration: 45s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
  }

  @keyframes sliding {
    0% {
      left: 0%;
    }
    16% {
      left: -25%;
    }
    32% {
      left: -50%;
    }
    48% {
      left: -75%;
    }
    64% {
      left: -100%;
    }
    80% {
      left: -125%;
    }
    100% {
      left: -150%;
    }
  }

  @keyframes indicating {
    0% {
      right: 0%;
    }
    16% {
      right: -20%;
    }
    32% {
      right: -40%;
    }
    48% {
      right: -60%;
    }
    64% {
      right: -80%;
    }
    80% {
      right: -90%;
    }
    100% {
      right: -100%;
    }
  }

  .a-founding_philosophy {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2%;
  }
  #image_founding {
    align-self: center;
    width: 400px;
    height: 243px;
  }

  #founding-1 {
    align-self: center;
    width: 300px;
    height: 183px;
  }

  #founding-2 {
    align-self: center;
    width: 300px;
    height: 215px;
  }

  #founding-3 {
    align-self: center;
    width: 300px;
    height: 200px;
  }

  #founding-4 {
    align-self: center;
    width: 300px;
    height: 200px;
  }
}
